<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Dashboard</title>
</head>
<header>
    <nav class="grey" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/dashboard" class="brand-logo">Myevite</a></div>
    </nav>
</header>
<body>
<div class="container">
    <p>Welcome, {{ request.session.first_name }}! | <a href="logout">Log out</a></p>
    <h3>Dashboard</h3>
    <a href="/newEvent" id="newevent" class="waves-effect waves-light btn-small right"><i class="material-icons right">add</i>Add an event</a>
    <h5>Your upcoming events</h5>
    <table>
        <tbody> 
            {% for event in upcoming_events %}
                <tr>
                    <td><b>{{ event.title }}</b><br>
                        {{ event.date }}<br>
                        {{ event.start_time }} to {{ event.end_time }}
                    </td>
                    <td>
                        <ul>
                            <li>{{ event.rsvpYesNum }} attending</li>
                            <li>{{ event.rsvpNoNum }} not attending</li>
                            <li>{{ event.rsvpMaybeNum }} maybe attending</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="evite/{{ event.id }}">My evite</a></li>
                            <li><a href="eventDetails/{{ event.id }}">Event details</a></li>
                            <li><a href="delete/{{ event.id }}">Delete event</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h5>Your past events</h5>
    <table>
        <tbody> 
            {% for event in past_events %}
            <tr>
                <td><b>{{ event.title }}</b><br>
                    {{ event.date }}<br>
                    {{ event.start_time }} to {{ event.end_time }}
                </td>
                <td>RSVPs are now closed</td>
                <td>
                    <ul>
                        <li><a href="evite/{{ event.id }}">My evite</a></li>
                        <li><a href="eventDetails/{{ event.id }}">Event details</a></li>
                        <li><a href="delete/{{ event.id }}">Delete event</a></li>
                    </ul>
                </td>
            </tr>     
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>