<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <p>Welcome, {{ request.session.first_name }}!</p>
    <h3>Dashboard</h3>
    <a href="newEvent">Add an event</a>
    <a href="logout">Log Out</a>
    <h4>Your upcoming events</h4>
    <table>
        <tbody> 
            {% for event in upcoming_events %}
                <tr>
                    <td>{{ event.title }}<br>
                        {{ event.date }}<br>
                        {{ event.start_time }} to {{ event.end_time }}
                    </td>
                    <td>
                        <ul>
                            <li>{{ event.rsvpYesNum }} attending</li>
                            <li>{{ event.rsvpNoNum }} not attending</li>
                            <li>{{ event.rsvpMaybeNum }} maybe attending</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li><a href="evite/{{ event.id }}">My evite</a></li>
                            <li><a href="eventDetails/{{ event.id }}">Event details</a></li>
                            <li><a href="delete/{{ event.id }}">Delete event</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4>Your past events</h4>
    <table>
        <tbody> 
            {% for event in past_events %}
            <tr>
                <td>{{ event.title }}<br>
                    {{ event.date }}<br>
                    {{ event.start_time }} to {{ event.end_time }}
                </td>
                <td>RSVPs are now closed</td>
                <td>
                    <ul>
                        <li><a href="evite/{{ event.id }}">My evite</a></li>
                        <li><a href="eventDetails/{{ event.id }}">Event details</a></li>
                        <li><a href="delete/{{ event.id }}">Delete event</a></li>
                    </ul>
                </td>
            </tr>     
            {% endfor %}
        </tbody>
    </table>

</body>
</html>